CHURN_PASS=password
CHURN_USER=user
CHURN_PORT=9292

# Should be the same as CHURN_USER and CHURN_PASS. For easier compatibility with Postgres Docker images.
POSTGRES_USER=user
POSTGRES_PASSWORD=password
PGDATESTYLE=european

RACK_ENV=production
OAUTH2_CLIENT_ID=
OAUTH2_CLIENT_SECRET=
OAUTH2_CLIENT_REDIRECT_URI=http://churnometer:9292/oauth2-callback
OAUTH2_PROVIDER=http://nuwid:3000

EXPORT_CUTOFF=20000
