tmp/*
config.yaml
TODOS.txt
log
doc
config/config_site.yaml
lib/services/service_dd_retention*
lib/services/service_nsw_joins.rb
*.old
*.orig
*.bak
uploads/*
backup/*
.sass-cache/*
.DS_Store
._.*
pids/*
uploads/reimport
uploads/batch_reimport
