version: "3"
services:
  db:
    volumes:
      - ./churnometer160218.sql.gz:/seed.sql.gz
  www:
    volumes:
      - ./churnometer160218.sql.gz:/app/config/seed.sql.gz
    command: ./docker-command.override
