<html>
  <head>
    <link href="/stylesheets/jquery-ui-1.8.17.custom.css" media="screen" rel="stylesheet" type="text/css">      
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">      
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css">      
    <link href="/scss/main.css" media="screen" rel="stylesheet" type="text/css">      
	<!--[if lt IE 8]>
      <link rel="stylesheet" href="/stylesheet/ie.css" type="text/css" media="screen, projection">
    <![endif]-->

    
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="/javascript/jquery-1.7.1.min.js">
	// <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery-ui-1.8.17.custom.min.js"></script>
	<script type="text/javascript" src="/javascript/jquery.tablesorter.min.js"></script>
	<script src="/javascript/jquery.tools.min.js?2"></script>
	<script src="/javascript/highcharts/highcharts.js" type="text/javascript"></script>
	<script type="text/javascript" src="/javascript/jquery.charts.js?2"></script>
	<script type="text/javascript" src="/javascript/jquery-ui-1.8.17.custom.min.js"></script>
	<script type="text/javascript" src="/javascript/jquery.floatheader.min.js"></script>
	
	
		
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>