<html>
  <head>
    <link href="/scss/main.css" media="screen" rel="stylesheet" type="text/css">      
    <link href="/stylesheets/jquery-ui-1.8.17.custom.css" media="screen" rel="stylesheet" type="text/css">      
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  </head>
  <body>
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/summary">Summary</a></li>
    </ul>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>