$line: 18px;

#nav {
  margin-top: $line;
  margin-bottom: $line;
  ul {
    padding: 0;
    margin: 0;
    overflow:hidden;
    li {
      list-style-type:none;
      display:inline;
    }
  }
}

.form {
  label, input {
    display:block;
  }
  ul {
    overflow:hidden;
    li {
      height:3*$line;
    }
  }
}

#data {
  margin:0 20px;
  table {
    border-collapse: collapse;
    tr {
      margin: 0;
      padding: 0;
    }
    td {
      margin: 0;
      padding: 2px 5px;
      border: 1px solid #aaa;
    }
    thead {
    
    }
    tbody {
    }
    tfoot {
      text-align:right;
      font-weight:bold;
    }
  }
}


