$line: 18px;

$bg: #C60C30;
$highlight-bg: #DFDF00;
$highlight-fg: $bg;
$tab-active-bg: #777;
$tab-active-fg: ivory;
$tab-inactive-bg: ivory;
$tab-inactive-fg: #1C94C4;

#nav {
  margin-top: $line;
  margin-bottom: $line;
  ul {
    margin: 0;
    overflow:hidden;
    li {
      display:inline;
      list-style-type:none;
    }
    li.right {
      float:right;
    }
  }
}

.form {
  label {
    display:block;
    padding:0.5em;
	font-size:120%;
	color:#ffd;
  }

  ul {
    overflow:hidden;
    list-style-type:none;
    li {
      height:4*$line;
    }
  }

  input[type=text], select {
	color: #333;
	padding: 0.5em;
	border-radius: 5px;
	-webkit-appearance:none;
	background:ivory;
	width: 120px;
    border-color: #666;
  }

  td {
	color:#ffe !important;
	font-weight: bold !important;
  }

}

#filter, #data {
   ul {
    li {
      padding:0.5em;
    }
  } 
}

#data {
  margin:0 20px;
  table {
    border-collapse: collapse;
    tr {
      margin: 0;
      padding: 0;
    }
    td {
      margin: 0;
      padding: 2px 5px;
      border: 1px solid #aaa;
    }
    th {
      margin: 0;
      padding: 2px 5px;
      border: 1px solid #aaa;
    }
    thead {
    
    }
    tbody {
    }

    tfoot {
      text-align:right;
      font-weight:bold;
    }

    tbody tr:nth-child(odd) td, tbody tr.even td{
      background: #ffe;
    }

    tbody tr:nth-child(odd) td, tbody tr.even td{
      background: #ffe;
    }

    tbody tr:nth-child(even) td, tbody tr.even td {
      background: #E5ECF9;
    }
  }
}

/* table sorting */
table.tablesorter {
}
table.tablesorter thead tr th  {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(/images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

/* tooltip styling */
.tooltip {
	display:none;
	#background:url(/images/tooltip/black_arrow.png);
	font-size:12px;
	width:200px;
	padding:25px;
	color:#aaa;
	background-color:#222;
	padding:10px;
	font-size:12px;
	-moz-border-radius-bottomright: 50px 25px;
	border-bottom-right-radius: 50px 25px;
	
}

input.selections {
	display:inline;
}

body {
	background-color: $bg;
}

h1, h2, h3, h4 {
	color: #ffd;
	padding-left: 18px;
}

h1 a {
	color: #ffd;
	text-decoration:none;
	padding-left: 18px;
	
}

h1 a:hover {
		color: $highlight-bg !important;
		#text-decoration:underline !important;
	}

.menu {

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 80px;
    }
    
  li {
    float: left;
  }  
  
  ul a {
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 32px;
    padding-left: 18px;
	  display: block;
    line-height: 80px;
    text-decoration: none;
    font-size: 21px;
    color: $highlight-bg;
  }
  
  ul a:hover {
    color: ivory;
  }
  
  .selected {
    color: ivory;
  }
  
}

.ui-state-default {
  border-left-color: $highlight-bg !important;
  border-top-color: $highlight-bg !important;
  border-right-color: $highlight-bg !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
	background:$tab-inactive-bg !important;
	a {
    color: $tab-inactive-fg !important;
  }
}  

.ui-state-hover {
  border-left-color: $tab-inactive-bg !important;
  border-top-color: $tab-inactive-bg !important;
  border-right-color: $tab-inactive-bg !important;
}

.ui-state-active {
  border-left-color: $tab-active-bg !important;
  border-top-color: $tab-active-bg !important;
  border-right-color: $tab-active-bg !important;
  background: $tab-active-bg !important;
  color: $tab-active-fg !important;
  a {
    color: $tab-active-fg !important;
  }  
  
}

.ui-widget-header {
	background:$highlight-bg;
	border:#ffe;
}

.ui-widget-content {
	background: $tab-active-bg;
	color: #ffe;
	
	tbody tr:nth-child(odd) td, tbody tr.even td{
		background: #ffe;
	}
	
	a {
	  color: #ffe;	
  }
}

.ui-tabs  {
  border-color: #707070;
}


table a {
	color: #333 !important ;
	
	:hover {
		color: light-blue !important;
	}
	
}

td.filters{
	background: transparent !important;
}


tfoot {
	background: #ffe !important;
}

#card_target {
	color: #ffe;
	font-weight: strong;
	font-size:140%;
}

#error-page {
  .errors {
    margin-top: 18px;
    background-color: #fff;
    padding: 10px 20px;
  }
}

pre {
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  word-wrap: break-word;      /* IE 5+ */
}

.flash {
  background-color: $highlight-bg;
  border-bottom: 1px solid grey;
  padding: 7px 0;
  text-align: center;
  font-weight: bold;
  color: $highlight-fg
  }

.bold_col {
	color:red !important;
	a {
		color: red !important;
	}
}

#footer {
  color: ivory;
  text-align: center;
  a {
    color: ivory;
  }
}

#card_target_tip {
  width: 800px;
  font-size: 8px;
  line-height: 1 !important;
}