upstream churnometer {
  server unix://REPLACEME_WWW_PATH/pids/puma.sock fail_timeout=0;
}

server {
  listen 80;
  listen [::]:80;
  server_name churnometer;
  return 301 https://churnometer$request_uri;
}

server {
  listen 443 ssl http2;
  server_name churnometer;
  client_max_body_size 100M;

  ssl on;
  ssl_certificate /etc/nginx/ssl/churnometer.cer;
  ssl_certificate_key /etc/nginx/ssl/churnometer.key;

  include /etc/nginx/snippets/ssl-params.conf;

  root REPLACEME_WWW_PATH;
  access_log REPLACEME_WWW_PATH/log/nginx.log;
  error_log REPLACEME_WWW_PATH/log/nginx_error.log;

  location / {
    if (-f REPLACEME_WWW_PATH/maintenance.html) {
      return 503;
    }

    if (-f REPLACEME_WWW_PATH/import.html) {
      return 423;
    }

    proxy_pass http://churnometer/;
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_intercept_errors on;
  }

  # Rename maintenance_off.html to maintenance.html for maintenance mode.
  error_page 503 maintenance.html;
  location /maintenace.html {
    root REPLACEME_WWW_PATH;
  }

  error_page 423 import.html;
  location /import.html {
    root REPLACEME_WWW_PATH;
  }
}
