tmp/*
config.yaml
TODOS.txt
log
doc
config/config_site.yaml
*.old
*.orig
*.bak
uploads/*
backup/*
.sass-cache/*
.DS_Store
._.*
pids/*
uploads/reimport
uploads/batch_reimport
config/config.yaml
config/seed.sql
