# Ignore logs, tempfiles, etc.
tmp/*
!tmp/.keep
backup/*
!backup/.keep
log/*
!log/.keep
pids/*
!pids/.keep
uploads/*
.sass-cache/*

# Development junk
TODOS.txt
doc
*.old
*.orig
*.bak
.DS_Store
._.*
!.keep

# Config
uploads/reimport
uploads/batch_reimport
config/config_site.yaml
config/config.yaml
config/seed.sql
config.yaml
celebration/*.yaml
celebration/*.gif
celebration/*.done
