email:
  to: admin@yourdomain.com
  from: churnometer@yourdomain.com
email_errors:
  to: admin@yourdomain.com
  from: churnometer@yourdomain.com
database:
  host: localhost
  port: 5432
  dbname: churnometer
  user: churnometer
  password: mypassword
  facttable: memberfacthelper
demo: false
use_new_query_generation_method: true 
