email_on_error: true
email_errors:
  to: admin@yourdomain.com
  from: churnometer@yourdomain.com
database:
  host: localhost
  port: 5432
  dbname: churnometer
  user: REPLACEME_CHURN_USER
  password: REPLACEME_CHURN_PASS
  facttable: memberfacthelper
demo: false
use_new_query_generation_method: true 
