#======================= Global Settings ===================================== 
[global]
workgroup = WORKGROUP
server string = Samba Server %v
netbios name = churnometer
security = user
map to guest = bad user
dns proxy = no
unix password sync = yes
#============================ Share Definitions ============================== 
[production]
path = /home/REPLACEME_WWW_PATH
valid users = REPLACEME_WWW_PATH
browsable =yes
writable = yes
