<% if !@flash.nil? %>
  <div class="flash">
    <%= @flash %>
  </div>
<% end %>

<div class="container">
  <h1><a href="/"><%= "growth tracker" %></a></h1>
</div>

<div class="menu container">
  <ul>
    <li><a class="selected" href="/admin/config">config</a></li>
    <li><a href="/admin/backup">backup</a></li>
    <li><a href="/admin/restart?redirect=/">restart</a></li>
    <li><a href="/admin/import">import</a></li>
  </ul>
</div>

<section id="data">
  <h4>Editing config file <%= filename %></h4>

  <form method="post">
    <input type="submit" name="action" value="save and restart">
    <textarea name="config" style="width:100%;height:90%"><%= @config %></textarea>
  </form>

</section>
