<% if !@flash.nil? %>
  <div class="flash">
    <%= @flash %>
  </div>
<% end %>

<div class="container">
  <h1><a href="/"><%= "churnometer" %></a></h1>
</div>

<div class="menu container">
  <ul>
    <li><a class="selected" href="/config">config</a></li>
    <li><a href="/backup">backup</a></li>
    <li><a href="/restart?redirect=/">restart</a></li>
    <li><a href="/import">import</a></li>
  </ul>
</div>

<h3>Restructure Data</h3>

<% if @yaml_spec.nil? %>
  <% if @memberfacthelper_migration_required %>
    <h4>"memberfacthelper" migration required</h4>
    <section id="data">
      <form method="post">
        <input type="submit" name="action" value="migrate and restart">
        <input type="checkbox" name="script_only" value="true"> Script only (do not execute)
      </form>
    </section>
  <% else %>
    <h4>No migration required</h4>
    <!-- should be possible to reach this block -->
  <% end %>
<% else %>
  <h4>Please confirm the changes that will be made</h4>
  <h4>To rename a reporting dimension replace OLDID: DELETE and NEWID: CREATE with OLDID: NEWID</h4>
  <section id="data">
    <form method="post">
      <input type="submit" name="action" value="restructure and restart">
      <input type="checkbox" name="script_only" value="true"> Script only (do not execute)
      <textarea name="yaml_spec" style="width:100%;height:90%">
      <%= @yaml_spec%>
      </textarea>
    </form>
  </section>
<% end %>

<% if ! @diag_sql.nil? %>
<pre>
  <%=@diag_sql %>
</pre>
<% end %>
