<% if !@flash.nil? %>
  <div class="flash">
    <%= @flash %>
  </div>
<% end %>

<div class="container">
  <h1><a href="/"><%= "churnometer" %></a></h1>
</div>

<div class="menu container">
  <ul>
    <li><a href="/config">config</a></li>
    <li><a href="/backup">backup</a></li>
    <li><a class="selected" href="/restart?redirect=/">restart</a></li>
    <li><a href="/import">import</a></li>
  </ul>
  <h3><span id="count_down">Restarting...</span></h3>
  <form method="post" name="restart">
  </form>
</div>


<script type="text/javascript">

 function add_dot(i, url){
    $("#count_down").text('Restarting in ' + i + ' seconds');
    if (i > 0)
      setTimeout('add_dot(' + (i-1) + ',"' + url + '")', 1000);
    else
      location.href=url;
  }

  window.onload = function() {
    // restart in background so shutdown crash doesn't show to user
    $.ajax({
      type: 'POST',
      url: '/restart'
    });

    // add x dots a second at a time, then redirect
    add_dot(10, '<%= params['redirect'] %>');
  }
</script>
