<% if !@flash.nil? %>
    <div class="flash">
      <%= @flash %>
    </div>
<% end %>

<h1>freeChange File Uploader</h1>
<form method="post" enctype="multipart/form-data">
	<input type="file" name="myfile">
	<br>
	<input type="submit" value="Upload">
</form>
